# <MSG> Select microcontroller family
# <KEY> CPUCONFIG__FAMILY
# <CHOOSE> STM32F10X_LD
# <CHOOSE> STM32F10X_LD_VL
# <CHOOSE> STM32F10X_MD
# <CHOOSE> STM32F10X_MD_VL
# <CHOOSE> STM32F10X_HD
# <CHOOSE> STM32F10X_HD_VL
# <CHOOSE> STM32F10X_XL
# <CHOOSE> STM32F10X_CL
# <ASK>
CPUCONFIG__FAMILY=STM32F10X_CL


CPUCONFIG__LD=src/system/portable/stm32f1/ld/STM32F107xCxx.ld

# fixed configuration
CPUCONFIG__CPU      = cortex-m3
CPUCONFIG__AFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CXXFLAGS = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__LDFLAGS  = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork
