CPUCONFIG__CPU=cortex-m3
CPUCONFIG__FAMILY=STM32F10X_CL
CPUCONFIG__LD=src/system/portable/stm32f1/STM32F107xCxx.ld











CPUCONFIG__AFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CXXFLAGS = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__LDFLAGS  = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork
