# <MSG> Select microcontroller
# <KEY> CPUCONFIG__MCU
# <CHOOSE> STM32F100C4T6
# <CHOOSE> STM32F100C6T6
# <CHOOSE> STM32F100C8T6
# <CHOOSE> STM32F100R6T6
# <CHOOSE> STM32F100RBT6
# <CHOOSE> STM32F100RET6
# <CHOOSE> STM32F100VBT6
# <CHOOSE> STM32F100ZCT6
# <CHOOSE> STM32F101C6T6
# <CHOOSE> STM32F101C8T6
# <CHOOSE> STM32F101CBT6
# <CHOOSE> STM32F101R6T6
# <CHOOSE> STM32F101R8T6
# <CHOOSE> STM32F101RBT6
# <CHOOSE> STM32F101V8T6
# <CHOOSE> STM32F101VBT6
# <CHOOSE> STM32F103C6T6
# <CHOOSE> STM32F103C8T6
# <CHOOSE> STM32F103CBT6
# <CHOOSE> STM32F103R4T6
# <CHOOSE> STM32F103R6T6
# <CHOOSE> STM32F103R8T6
# <CHOOSE> STM32F103RBT6
# <CHOOSE> STM32F103RCT6
# <CHOOSE> STM32F103RDT6
# <CHOOSE> STM32F103RET6
# <CHOOSE> STM32F103RGT6
# <CHOOSE> STM32F103T8U6
# <CHOOSE> STM32F103V8T6
# <CHOOSE> STM32F103VBT6
# <CHOOSE> STM32F103VCT6
# <CHOOSE> STM32F103VDT6
# <CHOOSE> STM32F103VET6
# <CHOOSE> STM32F103VGT6
# <CHOOSE> STM32F103ZCT6
# <CHOOSE> STM32F103ZET6
# <CHOOSE> STM32F103ZGT6
# <CHOOSE> STM32F105RBT6
# <CHOOSE> STM32F105RCT6
# <CHOOSE> STM32F105VBT6
# <CHOOSE> STM32F105VCT6
# <CHOOSE> STM32F107RCT6
# <CHOOSE> STM32F107VBT6
# <CHOOSE> STM32F107VCT6
# <ASK>
CPUCONFIG__MCU=STM32F107RCT6

# fixed configuration
ifeq ($(CPUCONFIG__MCU), STM32F100C4T6B)
CPUCONFIG__FAMILY=STM32F10X_LD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100C6T6B)
CPUCONFIG__FAMILY=STM32F10X_LD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100C8T6B)
CPUCONFIG__FAMILY=STM32F10X_MD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100R6T6B)
CPUCONFIG__FAMILY=STM32F10X_LD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100RBT6B)
CPUCONFIG__FAMILY=STM32F10X_MD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100RET6B)
CPUCONFIG__FAMILY=STM32F10X_HD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100VBT6B)
CPUCONFIG__FAMILY=STM32F10X_MD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F100ZCT6)
CPUCONFIG__FAMILY=STM32F10X_HD_VL
endif
ifeq ($(CPUCONFIG__MCU), STM32F101C6T6)
CPUCONFIG__FAMILY=STM32F10X_LD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101C8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101CBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101R6T6)
CPUCONFIG__FAMILY=STM32F10X_LD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101R8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101RBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101V8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F101VBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103C6T6A)
CPUCONFIG__FAMILY=STM32F10X_LD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103C8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103CBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103R4T6A)
CPUCONFIG__FAMILY=STM32F10X_LD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103R6T6A)
CPUCONFIG__FAMILY=STM32F10X_LD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103R8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103RBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103RCT6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103RDT6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103RET6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103RGT6)
CPUCONFIG__FAMILY=STM32F10X_XL
endif
ifeq ($(CPUCONFIG__MCU), STM32F103T8U6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103V8T6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103VBT6)
CPUCONFIG__FAMILY=STM32F10X_MD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103VCT6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103VDT6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103VET6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103VGT6)
CPUCONFIG__FAMILY=STM32F10X_XL
endif
ifeq ($(CPUCONFIG__MCU), STM32F103ZCT6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103ZET6)
CPUCONFIG__FAMILY=STM32F10X_HD
endif
ifeq ($(CPUCONFIG__MCU), STM32F103ZGT6)
CPUCONFIG__FAMILY=STM32F10X_XL
endif
ifeq ($(CPUCONFIG__MCU), STM32F105RBT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F105RCT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F105VBT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F105VCT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F107RCT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F107VBT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif
ifeq ($(CPUCONFIG__MCU), STM32F107VCT6)
CPUCONFIG__FAMILY=STM32F10X_CL
endif

CPUCONFIG__CPU      = cortex-m3
CPUCONFIG__AFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CFLAGS   = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__CXXFLAGS = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork -DGCC_ARMCM3 -D$(CPUCONFIG__FAMILY)
CPUCONFIG__LDFLAGS  = -mcpu=$(CPUCONFIG__CPU) -mthumb -mthumb-interwork
CPUCONFIG__LD       = src/system/portable/stm32f1/ld/$(CPUCONFIG__MCU).ld
