# <MSG> Do you want to enable CRC module?
# <KEY> MODCONFIG__CRC_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__CRC_ENABLE=ENABLE

# <MSG> Do you want to enable ETHMAC module?
# <KEY> MODCONFIG__ETHMAC_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__ETHMAC_ENABLE=ENABLE

# <MSG> Do you want to enable PLL module?
# <KEY> MODCONFIG__PLL_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__PLL_ENABLE=ENABLE

# <MSG> Do you want to enable SDSPI module?
# <KEY> MODCONFIG__SDSPI_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__SDSPI_ENABLE=ENABLE

# <MSG> Do you want to enable SPI module?
# <KEY> MODCONFIG__SPI_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__SPI_ENABLE=DISABLE

# <MSG> Do you want to enable TTY module?
# <KEY> MODCONFIG__TTY_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__TTY_ENABLE=ENABLE

# <MSG> Do you want to enable UART module?
# <KEY> MODCONFIG__UART_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__UART_ENABLE=ENABLE

# <MSG> Do you want to enable WDG module?
# <KEY> MODCONFIG__WDG_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
MODCONFIG__WDG_ENABLE=ENABLE
