# <INFO> ========================
# <INFO> PLL module configuration
# <INFO> ========================

# <MSG> Enable or disable LSI oscillator
# <KEY> __DCT_STM32F1XX_PLL_LSI_ON__
# <CHOOSE> ENABLE
# <CHOOSE> DISABLE
# <ASK:
__DCT_STM32F1XX_PLL_LSI_ON__=DISABLE

# <MSG> LSE clock configuration
# <KEY> __DCT_STM32F1XX_PLL_LSE_ON__
# <CHOOSE> RCC_LSE_OFF
# <CHOOSE> RCC_LSE_ON
# <CHOOSE> RCC_LSE_Bypass
# <ASK:
__DCT_STM32F1XX_PLL_LSE_ON__=RCC_LSE_OFF

# <MSG> HSE clock configuration
# <KEY> __DCT_STM32F1XX_PLL_HSE_ON__
# <CHOOSE> RCC_HSE_OFF
# <CHOOSE> RCC_HSE_ON
# <CHOOSE> RCC_HSE_Bypass
# <ASK>
__DCT_STM32F1XX_PLL_HSE_ON__=RCC_HSE_OFF

# <MSG> RTC clock source
# <KEY> __DCT_STM32F1XX_PLL_RTCCLK_SRC__
# <CHOOSE> RCC_RTCCLKSource_LSE
# <CHOOSE> RCC_RTCCLKSource_LSI
# <CHOOSE> RCC_RTCCLKSource_HSE_Div128
# <ASK>
__DCT_STM32F1XX_PLL_RTCCLK_SRC__=RCC_RTCCLKSource_LSE

# <MSG> Configure system clock source
# <KEY> __DCT_STM32F1XX_PLL_SYSCLK_SRC__
# <CHOOSE> RCC_SYSCLKSource_HSI
# <CHOOSE> RCC_SYSCLKSource_HSE
# <CHOOSE> RCC_SYSCLKSource_PLLCLK
# <ASK>
__DCT_STM32F1XX_PLL_SYSCLK_SRC__=RCC_SYSCLKSource_PLLCLK

# <MSG> MCO source
# <KEY> __DCT_STM32F1XX_PLL_MCO_SRC__
# <CHOOSE> RCC_MCO_NoClock
# <CHOOSE> RCC_MCO_SYSCLK
# <CHOOSE> RCC_MCO_HSI
# <CHOOSE> RCC_MCO_HSE
# <CHOOSE> RCC_MCO_PLLCLK_Div2
# <CHOOSE> RCC_MCO_PLL2CLK
# <CHOOSE> RCC_MCO_PLL3CLK_Div2
# <CHOOSE> RCC_MCO_XT1
# <CHOOSE> RCC_MCO_PLL3CLK
# <ASKIF> STM32F10X_CL

# <MSG> MCO source
# <CHOOSE> RCC_MCO_NoClock
# <CHOOSE> RCC_MCO_SYSCLK
# <CHOOSE> RCC_MCO_HSI
# <CHOOSE> RCC_MCO_HSE
# <CHOOSE> RCC_MCO_PLLCLK_Div2
# <ASKIFNOT> STM32F10X_CL
__DCT_STM32F1XX_PLL_MCO_SRC__=RCC_MCO_HSI


