project_name=
project_cpu_arch=
project_toolchain=

# Welcome information
config
        print()
        print(Welcome to dnx configuration tool!)
endconfig

#-------------------------------------------------------------------------------
# GENERAL CONFIGURATION
#-------------------------------------------------------------------------------
# project name configuration
config
        print()
        keyread(makefile, ./Makefile, PROJECT_NAME, project_name)
        print(Current project name: @project_name)
        readstring(project_name, Enter project name)
        keysave(makefile, ./Makefile, PROJECT_NAME, project_name)
endconfig

# project architecture configuration
config
        print()
        keyread(makefile, ./Makefile, PROJECT_CPU_ARCH, project_cpu_arch)
        print(Select project CPU architecture)
        print(Current selection: @project_cpu_arch)
        setitem(stm32f1,)
        readsel(project_cpu_arch,)
        keysave(makefile, ./Makefile, PROJECT_CPU_ARCH, project_cpu_arch)
        keysave(header, ./config.h, __CPU_ARCH__, project_cpu_arch)
endconfig

#-------------------------------------------------------------------------------
# TOOLCHAIN CONFIGURATION
#-------------------------------------------------------------------------------
# configure toolchain
config
        print()
        keyread(makefile, ./Makefile, PROJECT_TOOLCHAIN, project_toolchain)
        print(Current toolchain name: @project_toolchain)
        readstring(project_toolchain, Enter toolchain name)
        keysave(makefile, ./Makefile, PROJECT_TOOLCHAIN, project_toolchain)
endconfig

#-------------------------------------------------------------------------------
# FILE SYSTEM CONFIGURATION
#-------------------------------------------------------------------------------
# file system configuration: LFS
config
        print()
        print(Do you want to enable LFS?)
        keyread(makefile, ./Makefile, FS_LFS_ENABLE, tmp)
        print(Current selection: @tmp)
        setitem(YES,)
        setitem(NO,)
        readsel(tmp,)
        keysave(makefile, ./Makefile, FS_LFS_ENABLE, tmp)
endconfig

# file system configuration: DEVFS
config
        print()
        print(Do you want to enable DEVFS?)
        keyread(makefile, ./Makefile, FS_DEVFS_ENABLE, tmp)
        print(Current selection: @tmp)
        setitem(YES,)
        setitem(NO,)
        readsel(tmp,)
        keysave(makefile, ./Makefile, FS_DEVFS_ENABLE, tmp)
endconfig

# file system configuration: FATFS
config
        print()
        print(Do you want to enable FATFS?)
        keyread(makefile, ./Makefile, FS_FATFS_ENABLE, tmp)
        print(Current selection: @tmp)
        setitem(YES,)
        setitem(NO,)
        readsel(tmp,)
        keysave(makefile, ./Makefile, FS_FATFS_ENABLE, tmp)
endconfig

# file system configuration: PROCFS
config
        print()
        print(Do you want to enable PROCFS?)
        keyread(makefile, ./Makefile, FS_PROCFS_ENABLE, tmp)
        print(Current selection: @tmp)
        setitem(YES,)
        setitem(NO,)
        readsel(tmp,)
        keysave(makefile, ./Makefile, FS_PROCFS_ENABLE, tmp)
        keycreate(header, ./config.h, TEST, tmp)
endconfig

