# <INFO> ========================================
# <INFO> Toolchain and architecture configuration
# <INFO> ========================================

# <MSG> Set toolchain name
# <MSG> Example: if you are use arm-none_eabi-xxx then type arm-none-eabi- string
# <KEY> TOOLCHAIN
# <STRING>
# <ASK>
TOOLCHAIN="arm-none-"

# <MSG> Set CPU architecture
# <KEY> CPUARCH
# <CHOOSE> stm32f10x
# <ASK>
CPUARCH=stm32f10x

# <MSG> Header test
# <KEY> CPUARCH
# <CHOOSE> stm32f10x
# <ASK>
#define CPUARCH
