\begin{}
        \msg{}
        \item{item}{description}
        \item{}{}
        \select{}
        \getint{}
        \getuint{}
        \getstring{}
        \savekey{makefile|header}{file}{key}
        \newvar{makefile|header}{file}{var}{val}
        \rmvar{makefile|header}{file}{var}
\end{}

# comment

