test="cos"
xxx="cos"

\begin{}
        \ifneq{test}{xxx}
        \keyread{makefile}{xxx.mk}{FSCONFIG__LFS_ENABLE}{0}
        \msg{message 1}
        \msg{next line of message}
        \item{item1}{description 1}
        \item{item2}{description 2}
        \item{item3}{}
        \item{item4}{fdsafd}
        \readsel{select}{}
        \readint{1}{fdsfa}
        \readuint{2}{fda}
        \readstring{3}{fda}
        \keysave{makefile}{xxx.mk}{FSCONFIG__LFS_ENABLE}{xxx}
        \keycreate{makefile|header}{file}{2}{1}
        \keydelete{makefile|header}{file}{3}
\end{ed}

# comment

\begin{}
        \keyread{makefile}{xxx.mk}{FSCONFIG__LFS_ENABLE}{0}
        \msg{message 2}
        \msg{next line of message}
        \item{item1}{description 1}
        \item{item2}{description 2}
        \item{item3}{}
        \item{item4}{fdsafd}
        \readsel{0}{}
        \readint{1}{fdsfa}
        \readuint{2}{fda}
        \readstring{3}{fda}
        \keysave{makefile}{xxx.mk}{FSCONFIG__LFS_ENABLE}{0}
        \keycreate{makefile|header}{file}{2}{1}
        \keydelete{makefile|header}{file}{3}
\end{ed}
