ifeq ($(MODCONFIG__CRC_ENABLE), $(EMPTY))
MODCONFIG__CRC_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__ETHMAC_ENABLE), $(EMPTY))
MODCONFIG__ETHMAC_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__PLL_ENABLE), $(EMPTY))
MODCONFIG__PLL_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__SDSPI_ENABLE), $(EMPTY))
MODCONFIG__SDSPI_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__SPI_ENABLE), $(EMPTY))
MODCONFIG__SPI_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__TTY_ENABLE), $(EMPTY))
MODCONFIG__TTY_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__UART_ENABLE), $(EMPTY))
MODCONFIG__UART_ENABLE=DISABLE
endif
ifeq ($(MODCONFIG__WDG_ENABLE), $(EMPTY))
MODCONFIG__WDG_ENABLE=DISABLE
endif
