# <MSG> Do you want to enable devfs?
# <KEY> FSCONFIG__DEVFS_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
FSCONFIG__DEVFS_ENABLE=ENABLE

# <MSG> Do you want to enable lfs?
# <KEY> FSCONFIG__LFS_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
FSCONFIG__LFS_ENABLE=ENABLE

# <MSG> Do you want to enable fatfs?
# <KEY> FSCONFIG__FATFS_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
FSCONFIG__FATFS_ENABLE=ENABLE

# <MSG> Do you want to enable procfs?
# <KEY> FSCONFIG__PROCFS_ENABLE
# <CHOOSE> DISABLE
# <CHOOSE> ENABLE
# <ASK>
FSCONFIG__PROCFS_ENABLE=ENABLE
