# <MSG> Do you want to enable devfs? [0 - disable, 1 - enable]
# <KEY> FSCONFIG__DEVFS_ENABLE
# <CHOOSE> 0
# <CHOOSE> 1
# <ASK>
FSCONFIG__DEVFS_ENABLE=1

# <MSG> Do you want to enable lfs? [0 - disable, 1 - enable]
# <KEY> FSCONFIG__LFS_ENABLE
# <CHOOSE> 0
# <CHOOSE> 1
# <ASK>
FSCONFIG__LFS_ENABLE=1

# <MSG> Do you want to enable fatfs? [0 - disable, 1 - enable]
# <KEY> FSCONFIG__FATFS_ENABLE
# <CHOOSE> 0
# <CHOOSE> 1
# <ASK>
FSCONFIG__FATFS_ENABLE=1

# <MSG> Do you want to enable procfs? [0 - disable, 1 - enable]
# <KEY> FSCONFIG__PROCFS_ENABLE
# <CHOOSE> 0
# <CHOOSE> 1
# <ASK>
FSCONFIG__PROCFS_ENABLE=1
